<div>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        aria-describedby="emailHelp"
        name="email"
        ngModel
        required
        email
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        name="password"
        [minlength]="5"
        ngModel
        required
      />
    </div>
  </form>
  <a [routerLink]="['/register']" routerLinkActive="active">Sign-up</a>
</div>
